<!doctype html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8">
<base href="/">

<title>Lucas</title>

<!-- CSS -->
<!-- <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css"> -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!-- custom styles -->

<!-- JS -->
<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjlH6b1EKZcuM1Au7wiiIdl7obuYb1SFk&sensor=false"></script>
<!-- <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.3.js"
	integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
	crossorigin="anonymous"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
	jQuery(document).ready(function() {
		jQuery('.toggle-nav').click(function(e) {
			jQuery(this).toggleClass('active');
			jQuery('.menu ul').toggleClass('active');

			e.preventDefault();
		});
	});

	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<!-- ANGULAR CUSTOM -->
<script src="/js/app.js"></script>
<script src="/js/commentsController.js"></script>

</head>
<body style="background-image: url('./image/Cool.jpg'); padding: 20px;">
	<br>
	<div class="container" data-ng-controller="CommentsController">

		<div>
			<h1 class="name">LUCAS ZHANG</h1>
			<hr>
		</div>
		<div>
			<div align="right">

				</font>
			</div>
			<nav class="menu">
				<ul class="active">
					<li class="current-item"><a href="#/">Home</a></li>
					<li><a
						href="https://www.linkedin.com/in/shuai-zhang-9503b7b4?trk=hp-identity-photo"
						data-ng-click="" target="_self">Linkedin</a></li>
					<li><a href="" data-ng-click="showResume()" target="_self">Resume</a></li>
					<li><a href="#" data-ng-click="getComments()" target="_self">Comments</a></li>

				</ul>

			</nav>
			<!-- ANGULAR DYNAMIC CONTENT -->

			<div ng-view></div>

		</div>
	</div>
</body>
</html>
