<style>
.add-user-form button {
	height: 25px;
	padding: 0px 7px;
	float: left;
	border-radius: 0px 2px 2px 0px;
	background: #27EEEE;
	font-size: 13px;
	font-weight: 600;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	color: #201AEE;
}

.required input:after {
	content: "*";
	color: red
}
</style>
<div class="container" data-ng-controller="CommentsController">
	<div style="height: 80%; width: 120%">
		<form name="addUserForm" class="add-user-form">
			<div id="debtorDetails"
				class="row-fluid form-horizontal col-sm-7 well">
				<div class="alert alert-info" data-ng-show="isSaveSuccess">
					<strong>Success, thanks for your words !</strong>
				</div>
				<div class="alert alert-warning" data-ng-show="isInValid">
					<strong>Invalid data !</strong> {{ validationMessage }}
				</div>
				<table border="0" style="width: 636px; height: 198px; ">
					<tr>
						<td>
							<table>
								<tr>
									<td><div class="col-sm-12">
											<label for="order" class="control-label">Name</label><font
												size="4" color="red"> </font>
										</div></td>
									<td colspan="2"><input type="text" name="title"
										placeholder="Enter Name" class="form-control"
										style="width: 232px; height: 22px"
										data-ng-model="comment.name" required /></td>
								</tr>


								<tr>
									<td><div class="col-sm-12">
											<label for="order" class="control-label">Massage</label>
										</div></td>
									<td data-toggle="tooltip" data-placement="right"
										title="Last Name" style="width: 460px; height: 89px; "><textarea  placeholder="Enter your comments"
											data-ng-model="comment.comments" rows="4" cols="80"
											style="overflow: auto; resize: none"></textarea>
								
							</table>
						</td>
						
					</tr>
				</table>
				
				<table border="0">
					<tr>
						<td>
							<button type="submit" data-ng-click="saveComments(comment)"
								data-ng-disabled="addUserForm.$invalid">
								<i class="glyphicon glyphicon-save"></i>&nbsp;Summit
							</button>
							<button type="reset">
								<i class="glyphicon glyphicon-open"></i>&nbsp;Reset
							</button>

						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</div>