


<div>

	<div class="col-sm-12" style="background-color: #E3E3F8;">

		<h3><strong>About me:</strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="files/Resume_LucasZhang.pdf" size="2px">download</a>
		</h3>
		<hr>
		<p class="lead">
			<font size="5px"> I am an enthusiastic programmer. I like to
				try every new technology. <br> I am an eligible full-stack web
				developer, using HTML5 / AngularJS / JS / CSS3 / Java spring boot. <br>
				I am a script lover. I like to make my works automatic by developing
				tools with Python.
			</font>
		</p>

		<h3>
			<strong>Skills:</strong></h3>
			<p class="lead">
			<ul>
				<font size="5px">
					<li>Programming Language: JAVA, Python, C++</li>
					<li>Web Development: JavaScript, CSS3, HTML5, AJAX, JSON</li>
					<li>Framework/tools: Angular JS, Maven, Spring boot,
						Hibernate, Scrapy, Phantom JS, Selenium, Beautiful soup</li>
					<li>Database Systems: MySQL, MariaDB, MangoDB</li>
					<li>Others: Git, Agile development, Test Driven Development</li>
				</font>
			</ul>
			</p>
		
		<h3>
			<strong>Eeperience:</strong>
		</h3>
		<hr>
		<p class="lead">
			<strong><a href="http://www.astafunding.com/">Asta
					Funding, Inc. (ASFI),</a> Englewood Cliffs, NJ</strong> <br> <i>Software
				Engineer</i>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Jul 2016 - Present <br>Asta Funding, Inc. Is a diversified
			financial services company that assists consumers and serves
			investors through the strategic management of four complementary
			business segments: Personal Injury Claims, Structured Settlements,
			International Consumer Debt and Disability Advocacy. <br> <b>Full
				Stack Project: Asta Customer Connect</b> <br>This web-based
			application is used to manage the information of the customer. It
			allows users to log-in with different authority to search, add and
			modify the data of the customer. It also allows users to export the
			customer information to a csv file. <a data-toggle="collapse"
				data-target="#expendACC">details</a>
		</p>
		<div id="expendACC" class="collapse">
			<div style="height: 80%; width: 100%">
				<ul>
					<font size="5px"> <i>(Angular JS, Java maven, spring
							boot, HTML5, JavaScript, Bootstrap, Hibernate, MariaDB)</i>
						<li>Worked on creating Single Page Application (SPA) using
							Angular JS, HTML5, Bootstrap and JavaScript to make the web
							application more responsive.</li>
						<li>Worked in Agile-Scrum methodology and attended daily
							scrum meetings.</li>
						<li>Defined application routes by using Angular route to
							implement SPA.</li>
						<li>Created multiple controllers, models for web application.
					</li>
						<li>Created Restful Web API for database operations (CRUD) by
							using Java spring boot.</li>
						<li>Implemented CRUD operations with the help of $http
							service to retrieve data.</li>
						<li>Customized filters for user to filter data easily.</li>
						<li>Implemented clients side validation with the help of
							HTML5 ($valid, $require, $dirty etc) attributes.</li>
						<li>Used git for version control.</li>
					</font>
				</ul>
			</div>
		</div>

		<p class="lead">
			<b>Python Script Project: IDrive Management Tool</b> <br>IDrive
			is a file/data management system, Every month we need to track the
			clients and download whose update files. This project may
			automatically download the files from IDrive and manage these files,
			which save 10 people about 1 weeks work. <a data-toggle="collapse"
				data-target="#expendIMT">details</a>
		</p>
		<div id="expendIMT" class="collapse">
			<div style="height: 80%; width: 100%">
				<ul>
					<font size="5px"> <i>(Python, Selenium, Phantom JS,
							Beautiful soup, MariaDB)</i>
						<li>Used Selenium and Phantom JS to simulate manually login
							and crawling all of our clients' name.</li>
						<li>According to the exist names to search the data under
							whose folder.</li>
						<li>Automatically download the updated data to local.</li>
						<li>Unzip all the compressed files.</li>
						<li>Move the files to server, at the same time, insert all
							the files' information such as index, the store address, file
							name, file size, create date...into database</li>
						<li>Used multi-thread to process the data.</li>
					</font>
				</ul>
			</div>
		</div>



<p class="lead">
			<strong><a href="http://classwish.org/">Classwish,</a> New York City, NY</strong> <br> <i>Web
				Engineer Volunteer</i>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Feb 2016 - Apr 2016 <br>Classwish is a non-profit organization which provide a platform for collecting donations to the people who 
			can not afford the education. People who buy goods online may get some discount or coupon, they may select the student they want to help,
			and donate there discount to them.<a data-toggle="collapse"
				data-target="#expendCW">details</a>
		</p>
		<div id="expendCW" class="collapse">
			<div style="height: 80%; width: 100%">
				<ul>
					<font size="5px"> 
						<li>Designed part of the layout the front page.</li>
						<li>Added the Facebook comments plugin to the website, setup the administrator authority to manage the comments.</li>
						<li>Generated online database to store the customers information by using Caspio.</li>
					</font>
				</ul>
			</div>
		</div>

		<h3>
			<strong>Academic Projects:</strong>
		</h3>
		<hr>
		<p class="lead">
			<Strong>Google Search Engine</Strong> 
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Spring 2016 <br>
			The project simulates the original version of Google's search engine, implemented using Java.<a data-toggle="collapse"
				data-target="#expendGSE">details</a>
				</p>
		<div id="expendGSE" class="collapse">
			<div style="height: 80%; width: 100%">
				<ul>
					<font size="5px"> 
						<li>Used multiple threading and BFS to crawl the websites by 4 seeds.</li>
						<li>Designed distributed method to store all the key words, document ID and position ID into 8 files.</li>
						<li>Generated heap sort algorithm to combine all the files and created two inverted index files.</li>
						<li>Calculated the scores of every term for query, and returned the URL of the term related websites.</li>
					</font>
				</ul>
			</div>
		</div>

	<p class="lead">
			<Strong>Image Recognition</Strong> 
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Spring 2015 <br>
			The project is an image classification tool based on image processing and machine learning technology, which reads two categories of image, each including more than 1000 pages, then predicts the new picture’s classification, implemented using Python.<a data-toggle="collapse"
				data-target="#expendIR">details</a>
				</p>
		<div id="expendIR" class="collapse">
			<div style="height: 80%; width: 100%">
				<ul>
					<font size="5px"> 
						<li>Used LBP algorithm to extract image features, predicted by four different algorithms: SVM, KNN, Random forest and bagging classification.</li>
						<li>Compared the prediction results among the algorithms to achieve best performance.</li>
				
					</font>
				</ul>
			</div>
		</div>

		<h3>
			<strong>Education:</strong>
		</h3>
		<hr><p class="lead">
		<strong><a href="https://www.stevens.edu/">Stevens Institute of Technology, </a>Hoboken, NJ </strong>
		&nbsp;&nbsp;&emsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Sep 2014-May 2016
		
		</p>
		<ul><font size="5px"> 
		<li >Master of Science in Computer Science (GPA: 3.86)</li>
<li>Course Works: C++, Agile Methods for Software Dev., Algorithms, Data Mgt&Exploration on the Web, Artificial Intelligence, Database Management Systems I, Adv. Algorithm Dsgn & Implement </li>
		</font>
		</ul>
		
		<hr><p class="lead">
		<strong><a href="http://www.tjut.edu.cn/">Tianjin University Of Technology, </a>Tianjin, P.R.China </strong>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Sep 2003-May 2007
		
		</p>
		<ul><font size="5px"> 
		<li >Master of Science in Computer Science (GPA: 3.26)</li>
		</font></ul>
		
		
		
		
		
		
		
		
		
	</div>





</div>